<script>
import numberFormat from '@/helpers/numberFormat';
import { mapGetters, mapMutations, mapState } from 'vuex'
import { mapActions } from 'vuex';

import CartItem from '@/components/CartItem.vue';
import BaseLoader from '@/components/BaseLoader.vue'
import FailedLoader from '@/components/FailedLoader.vue'

export default {
  filters: {
    numberFormat,
  },
  components: {
    CartItem,
    BaseLoader,
    FailedLoader,
  },

  data() {
    return {
      
    }
  },
  methods: {
    ...mapActions({
      deleteProductsFromCart: 'deleteFromCart',
      loadCart: 'loadCart'
    }),
    ...mapMutations(['changeCartLoader', 'changeCartLoaderLoaded','changeCartLoaderFailed']),
  },
  computed: {
    ...mapGetters({
      products: 'cartInfoProducts',
      totalPrice: 'cartTotalPrice',
      productsCount: 'productsCount',
    }),

    ...mapState(['cartLoader', 'cartLoaderFailed', 'cartLoaderLoaded']),
    productEnding() {
      let ending = String(this.productsCount).split('')
      let secEnd = ending.slice(-2, -1)
      function end() {
        if (ending.slice(-1)[0] === '1') {
          return 'one'
        } else if (ending.slice(-1)[0] === '0' || Number(ending.slice(-1)[0]) <= 9 && Number(ending.slice(-1)[0]) >= 5) {
          return 'manyof'
        } else {
          return 'many'
        }
      }
      function defineEnding() {
        if (ending.length >= 2) {
          if (Number(secEnd[0]) !== 1) {
            return end()
          } else {
            return 'manyof'
          }
        } else {
          return end()
        }
      }
      return defineEnding()
    }
  },
  created() {
    this.loadCart()
  }
}
</script>

<template>
  <div>
    
    <div v-show="cartLoader">Загрузка товаров</div>
    <div v-show="cartLoaderLoaded">Товары загружены</div>
    <div v-show="cartLoaderFailed">Произошла ошибка. Повторите позже</div>
    <BaseLoader v-show="cartLoader" />
    <FailedLoader v-show="cartLoaderFailed" />
    <main v-show="!cartLoaderFailed && !cartLoader" class="content container">
      <div class="content__top">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <router-link class="breadcrumbs__link" :to="{ name: 'main' }">
              Каталог
            </router-link>
          </li>
          <li class="breadcrumbs__item">
            <router-link class="breadcrumbs__link" :to="{ name: 'cart' }">
              Корзина
            </router-link>
          </li>
        </ul>

        <h1 class="content__title">
          Корзина
        </h1>
        <span class="content__info">
          {{ productsCount }}
          <span v-if="productEnding == 'many'">товара</span>
          <span v-if="productEnding == 'manyof'">товаров</span>
          <span v-if="productEnding == 'one'">товар</span>
        </span>
      </div>

      <section class="cart">
        <form class="cart__form form" action="#" method="POST">
          <div class="cart__field">
            <ul class="cart__list">
              <CartItem v-for="item in products" :key="item.productId" :item="item" />
            </ul>
          </div>

          <div class="cart__block">
            <p class="cart__desc">
              Мы&nbsp;посчитаем стоимость доставки на&nbsp;следующем этапе
            </p>
            <p class="cart__price">
              Итого: <span>{{ totalPrice | numberFormat }} ₽</span>
            </p>

            <button class="cart__button button button--primery" type="submit">
              Оформить заказ
            </button>
          </div>
        </form>
      </section>
    </main>
  </div>
</template>

<style></style>