<script>
import ProductsList from '@/components/ProductsList.vue'
import BasePagination from '@/components/BasePagination.vue'
import ProductsFilter from '@/components/ProductsFilter.vue'
import ButtonsCount from '@/components/ButtonsCount.vue'
import axios from 'axios'
import { API_BASE_URL } from '../../config'
// import cartProducts from '@/store'
import { mapMutations } from 'vuex'


export default {
  components: {
    ProductsList,
    BasePagination,
    ProductsFilter,
    ButtonsCount,

  },
  data() {
    return {
      productsOnPage: 3,
      nowPage: 1,
      priceProductFrom: 0,
      priceProductTo: 0,
      priceCategory: 0,
      priceColor: null,

      productsData: null,
      categoriesData: null,
      colorsData: null,

      productsLoading: false,
      productsLoadingFailed: false,

    }
  },
  methods: {
    ...mapMutations(['updateCartProductsData']),
    loadProducts() {
      this.productsLoading = true
      this.productsLoadingFailed = false
      clearTimeout(this.loadProductsTimer)
      this.loadProductsTimer = setTimeout(() => {
        axios
          .get(API_BASE_URL + '/api/products', {
            params: {
              page: this.nowPage,
              limit: this.productsOnPage,
              categoryId: this.priceCategory,
              colorId: this.priceColor,
              minPrice: this.priceProductFrom,
              maxPrice: this.priceProductTo

            }
          })
          .then(res => this.productsData = res.data)
          .catch(e => this.productsLoadingFailed = true)
          .finally(() => this.productsLoading = false)
      }, 0);

    },
    loadCategories() {
      axios.get(API_BASE_URL + '/api/productCategories')
        // .then(res=>console.log(res.data.items))
        .then(res => this.categoriesData = res.data)
        .catch(err => console.log(err))
    },
    loadColors() {
      axios.get(API_BASE_URL + '/api/colors')
        .then(res => this.colorsData = res.data)
        .catch(err => console.log(err))
    },
    

  },
  created() {
    this.loadProducts()
    this.loadCategories()
    this.loadColors()
  },
  watch: {
    nowPage() {
      this.loadProducts()
    },
    priceProductFrom() {
      this.loadProducts()
    },
    priceProductTo() {
      this.loadProducts()
    },
    priceCategory() {
      this.loadProducts()
    },
    priceColor() {
      this.loadProducts()
    }
  },
  computed: {
    products() {
      return this.productsData
        ? this.productsData.items.map(product => {
          return {
            ...product,
            image: product.image.file.url
          }
        })
        : []
    },
    countProducts() {
      return this.productsData ? this.productsData.pagination.total : 0
    },
    categories() {
      return this.categoriesData ? this.categoriesData.items : []
    },
    colors() {
      return this.colorsData ? this.colorsData.items : []
    },
    productEnding() {
      let ending = String(this.countProducts).split('')
      let secEnd = ending.slice(-2, -1)
      function end() {
        if (ending.slice(-1)[0] === '1') {
          return 'one'
        } else if (ending.slice(-1)[0] === '0' || Number(ending.slice(-1)[0]) <= 9 && Number(ending.slice(-1)[0]) >= 5) {
          return 'manyof'
        } else {
          return 'many'
        }
      }
      function defineEnding() {
        if (ending.length >= 2) {
          if (Number(secEnd[0]) !== 1) {
            return end()
          } else {
            return 'manyof'
          }
        } else {
          return end()
        }
      }
      return defineEnding()
    }

  },
}
</script>

<template>
  <main class="content container">
    <div class="content__top content__top--catalog">
      <h1 class="content__title">
        Каталог
      </h1>
      <span class="content__info">
        {{ countProducts }}
        <span v-if="productEnding == 'many'">товара</span>
        <span v-if="productEnding == 'manyof'">товаров</span>
        <span v-if="productEnding == 'one'">товар</span>
      </span>
    </div>

    <div class="content__catalog">
      <ProductsFilter :price-product-from.sync="priceProductFrom" :price-product-to.sync="priceProductTo"
        :price-category.sync="priceCategory" :categories="categories" :price-color.sync="priceColor" :colors="colors" />
      <section class="catalog">
        <div v-if="productsLoading && !productsLoadingFailed">Соединение с сервером...</div>
        <div v-if="productsLoadingFailed">Ошибка соединения.Повторите запрос позднее
          <button @click.prevent="loadProducts">Попробовать еще раз</button>
        </div>
        <ProductsList :products="products" />
        <BasePagination v-model="nowPage" :count-items="countProducts" :items-on-page="productsOnPage" />
      </section>

    </div>
  </main>
</template>