<script>
import MainPage from '@/pages/MainPage.vue'
import ProductPage from '@/pages/ProductPage.vue'
import NotFoundPage from '@/pages/NotFoundPage.vue'
import eventBus from '@/eventBus'

const routes = {
  main: 'MainPage',
  product: 'ProductPage',
}

export default {
  components: {
    MainPage,
    ProductPage,
    NotFoundPage,
  },
  data() {
    return {
      currentPage: 'main',
      currentPageParams:{},

    }
  },
  methods:{
    goToPage(pageName,pageParams) {
      this.currentPage=pageName
      this.currentPageParams=pageParams || {}
    },
  },
  computed: {
    currentPageComponent() {
      return routes[this.currentPage] || 'NotFoundPage'
    }
  },
  created(){
    eventBus.$on('goToPage', (pageName,pageParams)=>this.goToPage(pageName, pageParams))
  }
}

</script>

<template>
  <component :is="currentPageComponent" :page-params="currentPageParams"/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
