<script>
import products from '@/data/Products'
import ProductsList from '@/components/ProductsList.vue'
import BasePagination from '@/components/BasePagination.vue'
import ProductsFilter from '@/components/ProductsFilter.vue'
// import Test from '@/components/Test.vue'

import colors from '@/data/Colors'

export default {
  components: {
    ProductsList,
    BasePagination,
    ProductsFilter,

    // Test,
  },
  data() {
    return {
      productsOnPage: 3,
      nowPage: 1,
      priceProductFrom: 0,
      priceProductTo: 0,
      priceCategory: 0,
      priceColor: '',
    }
  },
  methods: {
    
  },
  computed: {
    filteredProducts() {
      let filteredProducts = products
      if (this.priceProductFrom > 0) {
        filteredProducts = filteredProducts.filter(product => product.price >= this.priceProductFrom)
      }
      if (this.priceProductTo > 0) {
        filteredProducts = filteredProducts.filter(product => product.price <= this.priceProductTo)
      }
      if (this.priceCategory) {
        filteredProducts = filteredProducts.filter(product => product.categoryId === this.priceCategory)
      }
      if (this.priceColor) {
        filteredProducts = filteredProducts.filter(product => {
          for (let color of product.colors) {
            if (color.colorCode === this.priceColor) {
              return product
            }
          }
          })
      }
      return filteredProducts
    },
    products() {
      let start = (this.nowPage - 1) * this.productsOnPage
      return this.filteredProducts.slice(start, start + this.productsOnPage)
    },
    countProducts() {
      return this.filteredProducts.length
    },
    colors() {
      return colors
    },

  },
}
</script>

<template>
  <main class="content container">
    <div class="content__top content__top--catalog">
      <h1 class="content__title">
        Каталог
      </h1>
      <span class="content__info">
        152 товара
      </span>
    </div>

    <div class="content__catalog">
      <ProductsFilter :price-product-from.sync="priceProductFrom" :price-product-to.sync="priceProductTo"
        :price-category.sync="priceCategory" :price-color.sync="priceColor" />

      <section class="catalog">
        <ProductsList :products="products"/>
        <BasePagination v-model="nowPage" :count-items="countProducts" :items-on-page="productsOnPage" />
      </section>

    </div>
  </main>
</template>