<script>
import { mapMutations } from 'vuex'
export default {
  props: {
    productAmount: {
      type: Number,
      required: false,
    },
    item: {
      type: Object,
      required: false,
    },
    classes: {
      type: Object,
      default: () => {
        return {
          'product__counter': true,
          'form__counter': true,
        }
      },
    },
  },
  data() {
    return {
      newAmount: 1
    }
  },
  methods: {
    ...mapMutations({
      updateAmount: 'updateCartProductAmount',
    }),
    append() {
      this.amount++
    },
    reduce() {
      this.amount--
    },

  },
  computed: {

    validateCount() {
      if (this.amount > 20) {
        this.amount = 20
      } else if (this.amount < 1) {
        this.amount = 1
      }
    },
    isDisableReduceBtn() {
      if (this.amount > 1) {
        return false
      } else {
        return true
      }
    },
    isDisableAppendBtn() {
      // сюда нужно добавить возможнось сделать кнопку неактивной, если количество товара больше, чем есть на складе
      // сейчас сделал максимум товаров в корзине 50 шт
      if (this.amount < 20) {
        return false
      } else {
        return true
      }
    },

    amount: {
      get() {
        return this.item.amount;
      },
      set(value) {
        // нельзя заказать позиций товара больше
        if (value > 20) {
          value = 20
        }
        this.updateAmount({ productId: this.item.productId, amount: value })
      }
    }
  },
}
</script>

<template>
  <div>
    <div :class="classes">
      <button type="button" aria-label="Убрать один товар" :disabled="isDisableReduceBtn" @click.default="reduce">
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-minus"></use>
        </svg>
      </button>

      <input type="number" min="1" max="10" v-model.number="amount" name="count">

      <button type="button" aria-label="Добавить один товар" :disabled="isDisableAppendBtn" @click.default="append">
        <svg width="10" height="10" fill="currentColor">
          <use xlink:href="#icon-plus"></use>
        </svg>
      </button>
    </div>
  </div>
</template>

<style scope>
button {
  cursor: pointer;
}

;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none !important;
  margin: 0 !important;
}

;

input[type=number] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}
</style>