<script>
export default {
  props: {
    name: String,
    color: {
      type: Object,
      required: true,
    },
    selectedColor: String,
  },
  data() {
    return {
      colorCode: '',
    }
  },
  methods: {
    changeColor() {
      this.$emit('update:selectedColor', this.colorCode)
    }
  },
  computed: {

  },
}
</script>

<template>
  <li class="colors__item">
    <label class="colors__label">
      <input class="colors__radio sr-only" type="radio" :name="name" @change="changeColor" :value="color.colorCode"
        v-model="colorCode">
      <span class="colors__value" :style="{ 'background-color': this.color.colorCode }">
      </span>
    </label>
  </li>
</template>