<script>
export default {
  data() {
    return {

    }
  }
}
</script>

<template>
  <ul>
    <li class="pics__item" v-for="">
      <a href="" class="pics__link pics__link--current">
        <img width="98" height="98" src="img/phone-square-1.jpg" srcset="img/phone-square-1@2x.jpg 2x"
          alt="Название товара">
      </a>
    </li>
  </ul>
</template>