<script>
export default {
  data() {
    return {
      memories: [
        {
          id: 8,
          title: '8GB',
          isHave: true,
        },
        {
          id: 16,
          title: '16GB',
          isHave: true,
        },
        {
          id: 32,
          title: '32GB',
          isHave: true,
        },
        {
          id: 64,
          title: '64GB',
          isHave: true,
        },
      ],
      selectedMemory: '',
    }
  },
  computed: {
    // selectedMemory() {
    //   return this.memories[-1]
    // }
  }

}
</script>

<template>
  <div>
    {{ selectedMemory }}
    <ul class="sizes sizes--primery">
      <li class="sizes__item" v-for="memory in memories" :key="memory.id" :memory="memory">
        {{ memory }}
        <label class="sizes__label">
          <input class="sizes__radio sr-only" type="radio" v-model="selectedMemory">
          <span class="sizes__value">
            {{memory.title}}
          </span>
        </label>
      </li>
    </ul>
  </div>
</template>