
<script>
import ProductItem from '@/components/ProductItem.vue'
export default {
  components:{
    ProductItem,
  },
  props:{
    products:Array,
  },
  data() {
    return {
    }
  },
  methods:{},
  computed:{
    
  },
}
</script>

<template>
  <div>
    <ul class="catalog__list">
      <ProductItem v-for="product in products" :key="product.id" :product="product"/>
    </ul>
  </div>
</template>

<style></style>