<script>
export default {
  methods:{
    randomProduct(){
      let max=this.productsLength
      let randomNumber = Math.ceil(Math.random() * max)
      this.$router.push({name: 'product', params: { id: randomNumber }})
    },
  },
  computed:{
    products() {
      return products
    },
    productsLength() {
      return products.length
    }
  },
}
</script>

<template>
  <div>
    
    <h1>Not Found Page</h1>
    <p>
      <router-link :to="{name:'main'}">Вернуться на главную страницу</router-link>
    </p>
    <p>
      <a href="#" @click.prevent="randomProduct">Перейти к произвольному продукту</a>
    </p>
  </div>
</template>