<script>
export default {
  model: {
    prop: 'nowPage',
    event: 'goPage',
  },
  props: {
    nowPage: Number,
    countItems: Number,
    itemsOnPage: Number,
  },
  components: {},
  data() {
    return {
      isDisable:true,

    }
  },
  methods: {
    goPage(page) {
      this.$emit('goPage', page)
    },
    prePage() {
      this.$emit('goPage', this.nowPage-1)
    },
    nextPage() {
      this.$emit('goPage', this.nowPage+1)
    }
  },
  computed: {
    countPages() {
      return Math.ceil(this.countItems / this.itemsOnPage)
    },
  },
}
</script>

<template>
  <ul class="catalog__pagination pagination">
    <li class="pagination__item">
      <a href="#" class="pagination__link pagination__link--arrow" :class="{'pagination__link--disabled':nowPage==1}" aria-label="Предыдущая страница" @click.prevent="prePage">
        <svg width="8" height="14" fill="currentColor">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </a>
    </li>

    <li class="pagination__item" v-for="pageNumber in countPages" :key="pageNumber">
      <a href="#" class="pagination__link" :class="{ 'pagination__link--current': nowPage == pageNumber }"
        @click.prevent="goPage(pageNumber)">
        {{ pageNumber }}
      </a>
    </li>

    <li class="pagination__item">
      <a href="#" class="pagination__link pagination__link--arrow" :class="{'pagination__link--disabled':nowPage==countPages}" aria-label="Следующая страница" @click.prevent="nextPage">
        <svg width="8" height="14" fill="currentColor">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</template>

<style scope>
.pagination__link--disabled {
  pointer-events: none;
}
</style>