<script>
import ColorItem from "@/components/ColorItem.vue"
export default {
  components: {
    ColorItem
  },
  props: {
    colors: {
      type: Array,
      required: true,
    },
    selectColor: {
      type: String,
      required: true,
    },
    isBlack: {
      type: Boolean,
      default: true,
    },
    name: String,
  },
  data() {
    return {
      selectedColor: '',
    }
  },
  computed: {

  },
  methods: {

  },
  watch: {
    selectedColor(value) {
      this.$emit('update:selectColor', value)
    }
  },
}
</script>
<template>
  <div>
    <ul class="colors" :class="{ 'colors--black': isBlack }">
      <ColorItem v-for="color in this.colors" :color="color" :key="color.id" :name="name"
        :selected-color.sync="selectedColor" />
    </ul>

  </div>
</template>

<style></style>