
<script>
import categories from '@/data/Categories'
import colors from '@/data/Colors'
import ColorList from '@/components/ColorList.vue'
export default {
  props: {
    priceProductFrom: {
      type: Number,
      default: 0,
    },
    priceProductTo: {
      type: Number,
      default: 0,
    },
    priceCategory: {
      type: Number,
      default: 0,
    },
    priceColor: {
      type: String,
      default: '',
    },
  },
  components:{
    ColorList,
  },
  data() {
    return {
      priceFrom: 0,
      priceTo: 0,
      categoryId: 0,
      colorCode: '',
    }
  },
  methods: {
    filterProducts() {
      this.$emit('update:priceProductFrom', this.priceFrom)
      this.$emit('update:priceProductTo', this.priceTo)
      this.$emit('update:priceCategory', this.categoryId)
      this.$emit('update:priceColor', this.colorCode)
    },
    changeColor(){
      this.$emit('update:priceolor', this.colorCode)
    },
    resetForm() {
      this.priceFrom = 0
      this.priceTo = 0
      this.categoryId = 0
      this.colorCode = ''
      // this.$emit('update:priceProductFrom', this.priceFrom)
      // this.$emit('update:priceProductTo', this.priceTo)
      // this.$emit('update:priceCategory', this.categoryId)
    },
    resetInput(event) {
      event.target.value = ''
    },

  },
  computed: {
    categories() {
      return categories
    },
    colors() {
      return colors
    },
    
  },
  watch: {
    // priceFrom(value) {
    //   this.priceProductFrom = value
    // },
    // priceTo(value) {
    //   this.priceProductTo = value
    // },
    // categoryId(value) {
    //   this.priceCategory=value
    // }

  },
}
</script>

<template>
  <div>
    
    <aside class="filter">
      <h2 class="filter__title">Фильтры</h2>

      <form class="filter__form form" action="#" method="get">
        <fieldset class="form__block">
          <legend class="form__legend">Цена</legend>
          <label class="form__label form__label--price">
            <input class="form__input" type="number" name="min-price" value="0" v-model.number="priceFrom"
              @focus="resetInput">
            <span class="form__value">От</span>
          </label>
          <label class="form__label form__label--price">
            <input class="form__input" type="number" name="max-price" value="12345" v-model.number="priceTo"
              @focus="resetInput">
            <span class="form__value">До</span>
          </label>
        </fieldset>

        <fieldset class="form__block">
          <legend class="form__legend">Категория</legend>
          <label class="form__label form__label--select">
            <select class="form__select" type="text" name="category" v-model="categoryId">
              <option value="0">Все категории</option>
              <option :value="category.id" v-for="category in categories" :key="category.id">{{ category.title }}</option>
            </select>
          </label>
        </fieldset>

        <fieldset class="form__block">
          <legend class="form__legend">Цвет</legend>
          <ColorList name="filterColor" :isBlack="false" :colors="colors" :select-color.sync="colorCode"/>
        </fieldset>

        <fieldset class="form__block">
          <legend class="form__legend">Объемб в ГБ</legend>
          <ul class="check-list">
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="8" checked="">
                <span class="check-list__desc">
                  8
                  <span>(313)</span>
                </span>
              </label>
            </li>
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="16">
                <span class="check-list__desc">
                  16
                  <span>(461)</span>
                </span>
              </label>
            </li>
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="32">
                <span class="check-list__desc">
                  32
                  <span>(313)</span>
                </span>
              </label>
            </li>
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="64">
                <span class="check-list__desc">
                  64
                  <span>(313)</span>
                </span>
              </label>
            </li>
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="128">
                <span class="check-list__desc">
                  128
                  <span>(313)</span>
                </span>
              </label>
            </li>
            <li class="check-list__item">
              <label class="check-list__label">
                <input class="check-list__check sr-only" type="checkbox" name="volume" value="264">
                <span class="check-list__desc">
                  264
                  <span>(313)</span>
                </span>
              </label>
            </li>
          </ul>
        </fieldset>

        <button class="filter__submit button button--primery" type="submit" @click.prevent="filterProducts">
          Применить
        </button>
        <button class="filter__reset button button--second" type="button" @click="resetForm">
          Сбросить
        </button>
      </form>
    </aside>
  </div>
</template>