<script>
import ColorList from "@/components/ColorList.vue"
import goToPage from "@/helpers/goToPage";
import numberFormat from "@/helpers/numberFormat";
export default {
  components: {
    ColorList,
  },
  props: {
    product: Object,
  },
  data() {
    return {
      colorSelect: '',
      colors: this.product.colors,
    }
  },
  methods:{
    goToPage,
  },
  filters:{
    numberFormat,
  },
  computed: {

  },
}
</script>

<template>
  <div>
    <li class="catalog__item">
      <a class="catalog__pic" href="#" @click.prevent="goToPage('product', {id:product.id})">
        <img :src="product.path" srcset="img/radio@2x.jpg 2x" :alt="product.title">
      </a>

      <h3 class="catalog__title">
        <a href="#">
          {{ product.title }}
        </a>
      </h3>

      <span class="catalog__price">
        {{ product.price | numberFormat}} ₽
      </span>
      <ColorList :colors="this.product.colors" :name="product.title" :select-color.sync="colorSelect"/>
    </li>
  </div>
</template>

<style></style>