<script>
import products from '../src/data/Products'
import ProductsList from '@/components/ProductsList.vue'
export default {
  name: 'App',
  components: {
    ProductsList,
  },
  data() {

    return {
      products,
    }
  }
}
</script>

<template>
  <div>
    <section class="catalog">
      <products-list :products="products"></products-list>
      <ul class="catalog__pagination pagination">
        <li class="pagination__item">
          <a class="pagination__link pagination__link--arrow pagination__link--disabled" aria-label="Предыдущая страница">
            <svg width="8" height="14" fill="currentColor">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link pagination__link--current">
            1
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            2
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            3
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            4
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            ...
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link" href="#">
            10
          </a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link pagination__link--arrow" href="#" aria-label="Следующая страница">
            <svg width="8" height="14" fill="currentColor">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </section>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
