
<script>
import ProductItem from '@/components/ProductItem.vue'
export default {
  components:{
    ProductItem,
  },
  props:{
    products:Array,
  },
  data() {
    return {

    }
  }
}
</script>

<template>
  
    <ul class="catalog__list">
      <product-item v-for="(product, index) in products" :key="index" :product="product" :index="index"></product-item>
    </ul>
  
</template>

<style></style>