<script>
export default {
  
}
</script>

<template>
  <div>
    <div class="loader">
      <span class="text__loader">Loading...</span>
    </div>
  </div>
</template>

<style scoped>
/* .loader {
  position: relative;
  background: url(../../public/img/loader/1487.png) center center no-repeat 200px 200px;
} */
.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(83, 77, 77, 0.5);
  background-image: url(../../public/img/loader/1487.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px 200px;
}


.text__loader {
  position: absolute;
  font-size: 45px;
  left: calc(50% - 100px);
  top: calc(50% - 170px);
  color: #fff;
}
</style>