<script>
import numberFormat from '@/helpers/numberFormat'
import ButtonsCount from './ButtonsCount.vue';
import { mapActions } from 'vuex'
export default {
  props: {
    item: Object,
  },
  filters: {
    numberFormat,
  },
  components: {
    ButtonsCount,
  },
  methods: {
    ...mapActions({
      deleteFromCart: 'deleteFromCart',
    }),
    deleteProduct(productId) {
      console.log(productId);
      this.deleteFromCart({ productId: productId })
    },
  },
}
</script>

<template>
  <li class="cart__item product">
    <div class="product__pic">
      <img :src="item.product.path" width="120" height="120" :alt="item.product.title">
    </div>
    <h3 class="product__title">
      {{ item.product.title }}
    </h3>
    <p class="product__info">
      Объем: <span>128GB</span>
    </p>
    <span class="product__code">
      Артикул: {{ item.productId }}
    </span>

    <ButtonsCount :item="this.item" />

    <b class="product__price">
      {{ item.product.price * item.amount }} ₽
    </b>

    <button class="product__del button-del" type="button" aria-label="Удалить товар из корзины"
      @click.default="deleteProduct(item.productId)">
      <svg width="20" height="20" fill="currentColor">
        <use xlink:href="#icon-close"></use>
      </svg>
    </button>
  </li>
</template>

<style scope>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none !important;
  margin: 0 !important;
}

;

input[type=number] {
  appearance: textfield !important;
}
</style>