<script>
import { mapGetters, mapState } from 'vuex';

export default {
  data() {
    return {
      isLoading: true,
      // isLoading: false,
      testing:'',
    }
  },
  
  computed: {
    ...mapGetters({
      countProducts: 'productsCount'
    }),
  ...mapState(['cartIndicatorLoader'])
    
  }
}

</script>

<template>
  <div>
    <router-link class="header__cart" :to="{ name: 'cart' }" aria-label="Корзина с товарами">
      <svg  width="30" height="21" fill="currentColor">
        <use xlink:href="#icon-cart"></use>
      </svg>
      <img v-show="cartIndicatorLoader" class="loading" src="../../public/img/loader/cartLoaderGreen.png" alt="">
      <span v-show="$store.state.cartProducts.length>0" class="header__count" aria-label="Количество товаров">{{ $store.state.cartProducts.length
      }}</span>
    </router-link>
    
  </div>
</template>

<style scoped>
/* .loader {
  width: 100%;
  height: 100%;
  background: url('../../public/img/loader/cart-loader.png') no-repeat center center;
} */
.loading {
  position: absolute;
  left: 0;
  z-index: 10;
}
</style>