<script>
export default {
  methods: {
    refreshPage() {
      location.reload()
    }
  }
}
</script>

<template>
  <div class="failed">
    <p class="failed__text">
      Произошла ошибка загрузки... Повторите запрос позже
      <button @click="refreshPage()">Перезагрузить страницу</button>
    </p>
  </div>
</template>

<style scoped>
.failed {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

p,
button {
  color: #fff;
}

button {
  background-color: green;
  border: none;
  outline: 1px solid transparent;
  transition: outline .5s ease;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;

}

button:hover {
  outline: 1px solid green
}

.failed__text {
  position: absolute;
  top: calc(50%);
  left: calc(50%-100px);
}
</style>