<script>
export default {
  props: [
    'title',
    'error',
  ],
  data() {
    return {

    }
  }
}
</script>

<template>
    <label class="form__label">
      <slot/>
      <span class="form__value">{{ title }}</span>
      <span class="form__error" v-if="error">{{ error }}</span>
    </label>
</template>

<style scoped></style>