<script>
import formFieldMixin from '@/mixins/formFieldMixin';
export default {
  mixins: [formFieldMixin],
  data() {
    return{

    }
  },
  computed: {
    
  }
}
</script>

<template>
  <BaseFormField :title="title" :error="error" >
    <input class="form__input" v-model="dataValue" type="text" :placeholder="placeholder"/>
  </BaseFormField>
</template>