<script>
import formFieldMixin from '@/mixins/formFieldMixin'
export default {
  mixins: [formFieldMixin],
  
  data() {
    return {

    }
  }
}
</script>

<template>
  <BaseFormField :title="title" :error="error">
    <textarea class="form__input form__input--area" v-model="dataValue" type="text" :placeholder="placeholder"/>
  </BaseFormField>
</template>