<script>
import { mapGetters, mapState } from 'vuex';

export default {
  data() {
    return {
      isLoading: true,
      // isLoading: false,
      testing:'',
    }
  },
  
  computed: {
    ...mapGetters({
      countProducts: 'productsCount'
    }),
  ...mapState(['cartIndicatorLoader'])
    
  }
}

</script>

<template>
  <div>
    <router-link class="header__cart" :to="{ name: 'cart' }" aria-label="Корзина с товарами">
      <svg  width="30" height="21" fill="currentColor">
        <use xlink:href="#icon-cart"></use>
      </svg>
      <transition name="loader">
        <img v-show="cartIndicatorLoader" class="loading" src="../../public/img/loader/cartLoaderGreen.png" alt="Загрузка страницы">
      </transition>
      <span v-show="$store.state.cartProducts.length>0" class="header__count" aria-label="Количество товаров">{{ countProducts }}</span>
    </router-link>
    
  </div>
</template>

<style scoped>

.loading {
  position: absolute;
  left: 0;
  z-index: 10;
}

.loader-enter-active,
.loader-leave-active {
  transition: all .5s ease;
}

.loader-enter,
.loader-leave-to {
  opacity: 0;
  /* transform: translateY(-100%); */
}
</style>