<script>
import ShowBlock from '@/components/ShowBlock.vue'
import TodoList from '@/components/TodoList.vue'
import NewTodoForm from '@/components/NewTodoForm.vue'
export default {
  components: {
    ShowBlock,
    TodoList,
    NewTodoForm,
  },
  data() {
    return {
      counter: 0,
      message: 'add a task',
      isDisable: true,
      inputValue: '',
      todoList: [],
      todoHeadNotDone: 'Незавершенные задачи',

    }
  },
  methods: {
    changeDisable(value) {
      this.isDisable = value
    },

    addTodoItem(post) {
      let id = Date.now()
      this.todoList.push({
        id,
        post,
        done: false,
        likes: 0,
      })
      this.isDisable = true
    },
    removeItem(id) {
      this.todoList = this.todoList.filter(item => item.id !== id)
    },
    addLike(id) {
      this.todoList.map(item => {
        if (item.id == id) {
          item.likes++
        }
        return item
      })
    },
    addDislike(id) {
      this.todoList.map(item => {
        if (item.id == id) {
          item.likes--
        }
        return item
      })
    }
  },
  computed: {
    count() {
      return this.todoList.filter(item => item.done !== true).length
    },
    todoDone() {
      return this.todoList.filter(item => item.done)
    },
    todoNotDone() {
      return this.todoList.filter(item => !item.done)
    },
    countLikes() {
      return this.todoList.reduce((value, item) => value+item.likes,0)
    }
  },

}
</script>

<template>
  <h1>Список задач</h1>
  <h2>Лайков на странице: {{ countLikes }}</h2>
  <show-block :todoList="todoList"></show-block>
  <todo-list v-show="todoList.length" :todoList="todoList" @removeItem="removeItem" @addLike="addLike"
    @addDislike="addDislike"></todo-list>
  <new-todo-form :message="message" :isDisable="isDisable" @addTodoItem="addTodoItem"
    @changeDisable="changeDisable"></new-todo-form>
  <Transition name="image">
    <img src="@/img/end.jpg" alt="Задач нет" v-show="count == 0">
  </Transition>

  <todo-list v-show="todoDone.length" :todoList="todoDone" @removeItem="removeItem" @addLike="addLike"
    @addDislike="addDislike">
  </todo-list>
  <todo-list :todoList="todoNotDone" :head="todoHeadNotDone" @removeItem="removeItem" @addLike="addLike"
    @addDislike="addDislike">
  </todo-list>
</template>

<style>
.form {
  margin: 20px 0;
}

.image-enter-active,
.image-leave-active {
  transition: all 1s;
}

.image-enter-from,
.image-leave-to {
  transform: rotate(360deg) scale(.2);
  opacity: 0;
}
</style>
