<script>
export default {
  props: {
    dis: Boolean,
  },
  emits: [
  ],
  components: {
  },
  data() {
    return {
    }
  },
  methods: {

  },
}
</script>

<template>
  <button :disabled="this.dis" class="btn btn-success">
    <slot></slot>
  </button>
</template>

<style scope></style>