<script>
export default {
  props: {
  },
  emits: [
  ],
  data() {
    return {
    }
  },
  methods: {
    
  },
}
</script>

<template>
  <button>
    <slot></slot>
  </button>
</template>

<style scope>

</style>