<script>
export default {
  props: {
    
  },
  emits: [
    'addLikes',
    'addDislikes',
  ],
  data() {
    return {
      isLiked: false,
    }
  },
  methods: {
    
  },
}
</script>

<template>
  <button :class="{ button__like: true, button__likes: this.isLiked }" @click="isLiked = true">
    <slot></slot> 
  </button>
</template>

<style scope>
.button__like {
  border: none;
  background-color: transparent;
  color: rgba(255, 0, 0, 0.329);
  transition: color .3s ease;
}

.button__likes {
  color: red;
}
</style>