<script>
import AddButton from '@/components/AddButton.vue'
export default {
  props: {
    message: String,
    isDisable: Boolean,

  },
  emits: [
    'addTodoItem',
    'changeDisable'
  ],
  components: {
    AddButton,
  },
  data() {
    return {
      inputValue: '',
    }
  },
  methods: {
    change() {
      if (this.inputValue.trim() !== '') {
        this.$emit('changeDisable', false)
      } else {
        this.$emit('changeDisable', true)
      }
    },
    add() {
      if (this.inputValue.trim() !== '') {
        this.$emit('addTodoItem', this.inputValue)
      }
      this.inputValue = ''
    },
  },
}
</script>

<template>
  <div class="form">
    <input v-model="inputValue" @input="change" @keypress.enter="add" :placeholder="this.message">
    <add-button :disabled="this.isDisable" @click="add">add</add-button>
    
  </div>
</template>

<style scope></style>