<script>
export default {
  props: {
    todoList: Array,
  },
  emits: [
  ],
  data() {
    return {
    }
  },
  methods: {
   
  },
  computed:{
    count() {
      console.log(1);
      return this.todoList.filter(item => item.done !== true).length
    },
  },
}
</script>

<template>
  <div v-show="count > 1">Осталось сделать задач: <span class="counter">{{ count }}</span></div>
  <div v-show="count == 0">Незавершенных задач нет</div>
  <div v-show="count == 1">Поднажми, осталась 1 задача</div>
</template>

<style scope>
.counter {
  font-weight: 700;
}
</style>