<script>
import RemoveButton from '@/components/RemoveButton.vue'
import EditButton from '@/components/EditButton.vue'
import LikesBlock from '@/components/LikesBlock.vue'
export default {
  props: {
    todoItem: Object,
    

  },
  emits: [
    'removeIt',
    'addLike',
    'addDislike',
  ],
  components: {
    RemoveButton,
    EditButton,
    LikesBlock,
  },
  data() {
    return {
      isDone: false,
      isEdit: false,
      newPost: '',
    }
  },
  methods: {
    remove() {
      this.$emit('removeIt', this.todoItem.id)
    },
    edit() {
      this.isEdit = true
      this.newPost = this.todoItem.post
    },
    save() {
      this.todoItem.post = this.newPost
      this.isEdit = false
    },
    like() {
      this.$emit('addLike', this.todoItem.id)
    },
    dislike() {
      this.$emit('addDislike', this.todoItem.id)
    },
    
  },
}
</script>

<template>
  <li :class="item">
    <div v-if="!isEdit">
      <label class="label">
        <input type="checkbox" v-model="todoItem.done">
        <span :class="{ done: todoItem.done }">
          {{ todoItem.post }}
        </span>
      </label>
      <remove-button @click="remove" class="btn btn-danger">remove</remove-button>
      <edit-button @click="edit" class="btn btn-warning">edit</edit-button>
      <likes-block  @click="like">&#128077;</likes-block>
      <span v-if="this.todoItem.likes>=0" style="color: #30a130">{{ this.todoItem.likes }}</span> 
      <span v-if="this.todoItem.likes<0" style="color:red">{{ this.todoItem.likes }}</span> 
      <likes-block  @click="dislike">&#128078;</likes-block> 
    </div>
    <div v-else>
      <input type="text" v-model="newPost">
      <button @click="save" class="btn btn-success">save</button>
      <button @click="this.isEdit = false" class="btn btn-secondary">cancel</button>
    </div>
  </li>
</template>

<style scope>
.item {
  margin: 10px 0;
}

.done {
  text-decoration: line-through;
}

.label {
  cursor: pointer;
}
</style>
