<script>
import TodoItem from '@/components/TodoItem.vue'
export default {
  props: {
    todoList: Object,
    head: String,
  },
  emits: [
    'removeItem',
    'addLike',
    'addDislike',
  ],
  components: {
    TodoItem,
  },
  data() {
    return {
    }
  },
  methods: {
    removeIt(id) {
      this.$emit('removeItem', id)
    },
    addLike(id) {
      this.$emit('addLike', id)
    },
    addDislike(id) {
      this.$emit('addDislike', id)
    },
  }
}
</script>

<template>
  <div>
    <h2 v-if="head">{{ head }}</h2>
    <ul class="list">
      <todo-item v-for="todoItem in todoList" :key="todoItem.id" :todoItem="todoItem" @removeIt="removeIt" @addLike="addLike" @addDislike="addDislike"></todo-item>
    </ul>
  </div>
</template>

<style scope>
.list {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  list-style: none;
}
</style>
