<script>
export default {
  props: ['error']
}
</script>

<template>
  <div class="cart__error form__error-block">
    <h4>Заявка не отправлена!</h4>
    <p>
      {{ error }} </p>
  </div>
</template>