<script>
import { mapGetters, mapState } from 'vuex'
import productEnding from '@/helpers/productEnding'

export default {
  props: {
    products: Array,
    totalPrice: Number,
    productsCount: Number,
  },
  data() {
    return {
      
    }
  },

  computed: {
    ...mapState(['cartLoader']),
    ...mapGetters(['cartInfoProducts', 'cartTotalPrice']),
    productEnd(count) {
      return productEnding
    },
    
  },

}
</script>

<template>
  <div class="cart__block">
    <transition name="loader">
      <img v-show="cartLoader" class="loading" src="../../public/img/loader/orderLoader.png" alt="Загрузка страницы">
    </transition>
    <transition-group name="order-list">
      <ul v-show="!cartLoader" class="cart__orders" key="order-list">
        <li v-for="item in this.products" :key="item.product.id" class="cart__order">
          <h3>{{ item.product.title }}</h3>
          <b>{{ item.product.price * (item.amount || item.quantity) }} ₽</b>
          <span>Артикул: {{ item.product.id }}</span>
        </li>
      </ul>
      <div v-show="!cartLoader" class="cart__total" key="total-cart">
        <p>Доставка: <b>500 ₽</b></p>
        <p>Итого: <b>{{ productsCount }}</b>
          <span v-if="productEnd(productsCount) == 'one'"> товар</span>
          <span v-if="productEnd(productsCount) == 'many'"> товара</span>
          <span v-if="productEnd(productsCount) == 'manyof'"> товаров</span>
          на сумму
          <b>{{ totalPrice }} ₽</b>
        </p>
      </div>
      <slot />
    </transition-group>
  </div>
</template>

<style scoped>
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order-list-enter-active,
.order-list-leave-active {
  transition: all .5s ease-in-out;
}

.order-list-enter,
.order-list-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}

.loader-enter-active,
.loader-leave-active {
  transition: all .5s ease;
}

.loader-enter,
.loader-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
</style>