<script>
import numberFormat from '@/helpers/numberFormat'
import ButtonsCount from '@/components/ButtonsCount.vue'

import ColorList from '@/components/ColorList.vue'
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
import { API_BASE_URL } from '../../config'
import axios from 'axios'

export default {
  components: {
    ColorList,
    ButtonsCount,
  },
  data() {
    return {
      selectColor: null,
      productAmount: 1,

      productData: null,
      productLoading: false,
      productLoadingFailed: false,

      productAdded: false,
      productAddSending: false,
    }
  },
  methods: {
    ...mapActions({ addProductToCart: 'addToCart', }),
    loadProduct() {
      this.productLoading = true
      this.productLoadingFailed = false

      return axios.get(API_BASE_URL + '/api/products/' + this.$route.params.id)
        .then(res => this.productData = res.data)
        .catch(() => this.productLoadingFailed = true)
        .then(() => this.productLoading = false)

    },
    addToCart() {
      this.productAdded = false
      this.productAddSending = true

      this.addProductToCart({ productId: this.product.id, amount: this.productAmount })
        .then(() => {
          this.productAdded = true
          this.productAddSending = false
          setTimeout(() => {
            this.productAdded = false
          }, 3000);
        })
    },
    changeIndicatorLoader() {
      
    },
  },
  created() {
    this.loadProduct()
  },
  filters: {
    numberFormat,
  },
  computed: {
    productAmountValidate() {
      if (this.productAmount > 20) {
        this.productAmount = 20
      }
      if (this.productAmount < 1) {
        this.productAmount = 1
      }
      return this.productAmount
    },
    ...mapGetters({
      productInCart: 'cartTotalPrice',
      count: 'productsCount',
      cart: 'cartProd',
      cartInfo: 'cartInfoProducts',
    }),
    amount: {
      get() {
        let currentProduct = this.cartInfo.find(item => item.productId == this.product.id)
        if (currentProduct) {
          return currentProduct.amount
        } else {
          return 1
        }
      },
      set(value) {
        // нельзя заказать позиций товара больше
        if (value > 20) {
          value = 20
        }
        this.$store.commit('updateCartProductAmount', { productId: this.product.id, amount: value })
      }
    },
    isDisabledTo() {
      if (this.productAmount > 19) return true
      else return false
    },
    isDisabledFrom() {
      if (this.productAmount <= 1) return true
      else return false
    },
    product() {
      return this.productData
    },
    category() {
      return this.productData.category
    },
  },
  watch: {
    '$route.params.id'() {
      this.loadProduct()
    },
  },


}
</script>

<template>
  <div>
    <div v-if="productLoading">Загрузка товара</div>
    <div v-if="productLoadingFailed">Что-то пошло не так <button @click.prevent="loadProduct">Перезагрузить</button></div>
    <main v-if="productData" class="content container">
      <div class="content__top">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <router-link class="breadcrumbs__link" :to="{ name: 'main' }">
              Каталог
            </router-link>
          </li>
          <li class="breadcrumbs__item">
            <router-link class="breadcrumbs__link" :to="{ name: 'main' }">
              {{ category.title }}
            </router-link>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link">
              {{ product.title }}
            </a>
          </li>
        </ul>
      </div>

      <section class="item">
        <div class="item__pics pics">
          <div class="pics__wrapper">
            <img width="570" height="570" :src="product.image.file.url" :srcset="product.image.file.url"
              :alt="product.title">
          </div>
        </div>

        <div class="item__info">
          <span class="item__code">Артикул: {{ product.id }}</span>
          <h2 class="item__title">
            {{ product.title }}
          </h2>
          <div class="item__form">
            <form class="form" action="#" method="POST" @submit.prevent="changeIndicatorLoader(), addToCart({
              productId: product.id,
              amount: productAmount,
            })">
              <b class="item__price">
                {{ product.price | numberFormat }} ₽
              </b>

              <fieldset class="form__block">
                <legend class="form__legend">Цвет:</legend>
                <ColorList :colors="product.colors" :isBlack="false" :name="product.title"
                  :select-color.sync="selectColor" />
              </fieldset>

              <fieldset class="form__block">
                <legend class="form__legend">Объемб в ГБ:</legend>
                <ul class="sizes sizes--primery">
                  <li class="sizes__item">
                    <label class="sizes__label">
                      <input class="sizes__radio sr-only" type="radio" name="sizes-item" value="32">
                      <span class="sizes__value">
                        32gb
                      </span>
                    </label>
                  </li>
                  <li class="sizes__item">
                    <label class="sizes__label">
                      <input class="sizes__radio sr-only" type="radio" name="sizes-item" value="64">
                      <span class="sizes__value">
                        64gb
                      </span>
                    </label>
                  </li>
                  <li class="sizes__item">
                    <label class="sizes__label">
                      <input class="sizes__radio sr-only" type="radio" name="sizes-item" value="128" checked="">
                      <span class="sizes__value">
                        128gb
                      </span>
                    </label>
                  </li>
                </ul>
              </fieldset>
              <div class="item__row">
                <div class="form__counter">
                  <button type="button" aria-label="Убрать один товар" @click.prevent="productAmount--"
                    :disabled="isDisabledFrom">
                    <svg width="12" height="12" fill="currentColor">
                      <use xlink:href="#icon-minus"></use>
                    </svg>
                  </button>

                  <input type="text" v-model.number="productAmountValidate">

                  <button type="button" aria-label="Добавить один товар" @click.prevent="productAmount++"
                    :disabled="isDisabledTo">
                    <svg width="12" height="12" fill="currentColor">
                      <use xlink:href="#icon-plus"></use>
                    </svg>
                  </button>

                </div>


                <button class="button button--primery" type="submit" :disabled="productAddSending">
                  В корзину
                </button>
              </div>
              <div v-show="productAdded">Товар добавлен в корзину</div>
              <div v-show="productAddSending">Добавление товара в корзину</div>
            </form>
          </div>
        </div>

        <div class="item__desc">
          <ul class="tabs">
            <li class="tabs__item">
              <a class="tabs__link tabs__link--current">
                Описание
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__link" href="#">
                Характеристики
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__link" href="#">
                Гарантия
              </a>
            </li>
            <li class="tabs__item">
              <a class="tabs__link" href="#">
                Оплата и доставка
              </a>
            </li>
          </ul>

          <div class="item__content">
            <p>
              Навигация GPS, ГЛОНАСС, BEIDOU Galileo и QZSS<br>
              Синхронизация со смартфоном<br>
              Связь по Bluetooth Smart, ANT+ и Wi-Fi<br>
              Поддержка сторонних приложений<br>
            </p>

            <a href="#">
              Все характеристики
            </a>

            <h3>Что это?</h3>

            <p>
              Wahoo ELEMNT BOLT GPS – это велокомпьютер, который позволяет оптимизировать свои велотренировки, сделав их
              максимально эффективными. Wahoo ELEMNT BOLT GPS синхронизируется с датчиками по ANT+, объединяя полученную с
              них информацию. Данные отображаются на дисплее, а также сохраняются на смартфоне. При этом на мобильное
              устройство можно установить как фирменное приложение, так и различные приложения сторонних разработчиков.
              Велокомпьютер точно отслеживает местоположение, принимая сигнал с целого комплекса спутников. Эта информация
              позволяет смотреть уже преодоленные маршруты и планировать новые велопрогулки.
            </p>

            <h3>Дизайн</h3>

            <p>
              Велокомпьютер Wahoo ELEMNT BOLT очень компактный. Размеры устройства составляют всего 74,6 x 47,3 x 22,1 мм.
              что не превышает габариты смартфона. Корпус гаджета выполнен из черного пластика. На обращенной к
              пользователю стороне расположен дисплей диагональю 56 мм. На дисплей выводятся координаты и скорость, а
              также полученная со смартфона и синхронизированных датчиков информация: интенсивность, скорость вращения
              педалей, пульс и т.д. (датчики не входят в комплект поставки). Корпус велокомпьютера имеет степень защиты от
              влаги IPX7. Это означает, что устройство не боится пыли, а также выдерживает кратковременное (до 30 минут)
              погружение в воду на глубину не более 1 метра.
            </p>
          </div>
        </div>
      </section>
    </main>
  </div>
</template>